<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>云巴巴 - 为什么选择YUN88</title>
    <!--公用组件-->
    <link href="../../dist/assets.css" rel="stylesheet">
    <script src="../../dist/assets.js"></script>

</head>

<body>

    <link rel="stylesheet" href="../../dist/why-us/why-us.css">

    <main class="page-wrap devHead why-us">

        <section class="banner why-us parallax">
            <div class="container">
                <h1 class="banner-title">为什么选择我们</h1>
                <p class="banner-text">为您甄选可靠、安全的云产品&服务</p>
                <p class="banner-text">倾力打造中国首个企业级B2B云平台
                </p>
                <a href="" class="btns btn-details">立即咨询</a>
            </div>
        </section>

        <section class="why-us">
            <div class="container">
                <div class="floor one">
                    <h1>甄选产品</h1>
                    <p>帮你严选</p>
                    <p>可靠、安全、领先的云产品、应用；</p>
                </div>
                <div class="arrow-divider">
                    <div></div>
                </div>
                <div class="floor two">
                    <h1>服务专业</h1>
                    <p>根据客户的业务需求</p>
                    <p>提供专业、个性化的线上+线下咨询和服务，</p>
                    <p>让客户更了解云，使用云</p>
                </div>
                <div class="arrow-divider">
                    <div></div>
                </div>
                <div class="floor three">
                    <h1>可靠技术</h1>
                    <p>依托元鼎专业技术实力</p>
                    <p>加速传统IT架构</p>
                    <p>IT业务系统和云的融合，迁移；</p>
                </div>
                <div class="arrow-divider">
                    <div></div>
                </div>
                <div class="floor four">
                    <h1>效率便捷</h1>
                    <p>一站式采购</p>
                    <p>综合型管理平台</p>
                    <p>便捷、高效、降低成本</p>
                </div>

            </div>
            <div class="bottom-line">
                <h1>7*24小时服务热线：400-007-0628</h1>
                <a href="" class="btns btn-contact">立即试用</a>
            </div>
        </section>

    </main>

</body>

</html>