<!DOCTYPE html>
<html lang="en">

<head> 

  <title>优选客户</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--公用组件-->
  <link href="../../dist/assets.css" rel="stylesheet">
  <script src="../../dist/assets.js"></script>

</head>

<body>
  <!--页面特有CSS-->
  <link href="../../dist/clients/clients.css" rel="stylesheet">

  <main class="page-wrap clients">
    <section class="banner banner-clients parallax">
      <div class="container">
        <h1 class="banner-title">优选客户</h1>
        <p class="banner-text">云88专家以严谨的态度为您甄选可靠安全的云产品&服务，倾力打造中国首个企业级B2B云平台</p>
        <a href="" class="btns btn-details">立即咨询</a>
      </div>
    </section>
    <section class="clients-show">
        <div class="container">
            <div class="shelf">
                <div>
                    <a href="" target="_blank"></a>
                    <img src="../../images/clients/clients1.jpg" alt="" />
                    <span>阿里云客户展示</span>
                </div>
                <div>
                    <a href="" target="_blank"></a>
                    <img src="../../images/clients/clients2.png" alt="" />
                    <span>IMO云办公室客户案例</span></div>
                <div>
                    <a href="" target="_blank"></a>
                    <img src="../../images/clients/clients3.png" alt="" />
                    <span>Oracle CX云客户案例</span></div>
                <div>
                    <a href="" target="_blank"></a>
                    <img src="../../images/clients/icon-plus.png" alt="" />
                    <span>更多客户案例>></span></div>
            </div>
        </div>
    </section>
  </main>

</body>

</html>