<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8"></meta>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  ></meta>

  <!-- 公用组件 -->

  <link
    rel="stylesheet"
    href="../../dist/assets.css"
  ></link>

  <script src="../../dist/assets.js"></script>
</head>

<body>
  <link
    rel="stylesheet"
    href="../../dist/hiring/hiring.css"
  ></link>

  <main class="page-wrap devHead why-us">
    <section class="banner why-us parallax">
      <div class="container">
        <h1 class="banner-title">加入YUN88</h1>

        <p class="banner-text">
          我们聘请优秀的人才加入云88，我们极力营造一个勤奋的工作、愉悦的工作环境、以及可持续的创造力，并给予更大的空间鼓励员工实现自己的梦想。
        </p>

        <a
          href=""
          class="btns btn-details"
        >立即咨询</a>
      </div>
    </section>

    <section class="hiring-section">
      <div class="container">
        <!--  -->

        <div class="heads-up">
          <p>学习与发展</p>
        </div>

        <div class="pt-3">
          <p>
            我们聘请优秀的人才加入YUN88，我们极力营造一个勤奋的工作、愉悦的工作环境、以及可持续的创造力，并给予更大的空间鼓励员工实现自己的梦想。 培训机会
          </p>

          <p>
            YUN88坚持营造一个具有学习与成长能力的组织，在为努力中的员工制定符合自身的发展策略。除了鼓励员工发展自身能力外，还提供多样化的内部培训，其中包括新人培训、与其他优秀团队的交流等。
          </p>

          <p class="blue">晋升机制</p>

          <p>
            认同企业价值观，具有较强的工作能力和良好的工作态度，并愿意承担更多责任，你将会得到很快的晋升。
          </p>
        </div>

        <!--  -->

        <div class="heads-up mt-5">
          <p>薪酬与福利</p>
        </div>

        <div class="pt-3">
          <p>
            五险一金、交通补助、通讯补助、生日津贴、节日津贴、带薪年假、各种员工活动、年度旅游等更多惊喜
          </p>
        </div>

        <!--  -->

        <div class="heads-up mt-5">
          <p>应聘须知</p>
        </div>

        <div class="pt-3">
          <p class="blue">招聘新员工流程？</p>

          <p>
            应聘者发送简历到人事部邮箱→简历通过人力资源的筛选→通过电话预约初次面试→达成共识的应聘者将赢得复试机会→通过第二轮面试→最终，赢得通知录用的通知，YUN88做好准备欢迎您的到来。
          </p>

          <p>· 注：具体将视实际情况确定是否需要的步骤</p>

          <p class="blue">简历投递过程中，有问题联系谁？</p>

          <p>
            您可以将问题发送至我们的信箱：yuanding@yuandingit.com，或拨打我们的电话010-52550628转人力资源部，我们会及时回复并与您联系。
          </p>

          <p class="blue">公司是否会对我的个人信息严格保密？</p>

          <p>
            我们将对您的信息严格保密，因此您可以放心的填写真实的信息。另外，为了能及时通知您进一步的安排，请您务必留下您的电话联系方式和电子邮箱地址。
          </p>
        </div>

        <!--  -->

        <div class="heads-up mt-5">
          <p>加入YUN88</p>
        </div>

        <h2 class="subtitle">产品经理</h2>

        <div class="pt-3 mb-10">
          <p class="blue">岗位职责：</p>

          <p>
            1. 负责公司网站产品策划、设计，提供产品设计、需求分析、功能描述等文档；
          </p>

          <p>
            2. 负责产品开发过程中的进度管理与跟踪，组织产品测试，后期产品培训等；
          </p>

          <p>
            3. 负责产品上线以后的功能完善与优化：BUG跟踪、收集改进意见、提供改进方案，引导用户熟悉使用产品；4. 负责统计产品的数据及用户行为分析；5. 定期对行业相关产品进行跟踪与分析；
          </p>

          <p class="blue">任职资格：</p>

          <p>1. 本科以上学历，3年以上互联网产品策划、设计经验；</p>

          <p>
            2. 做事有责任感，具备良好的沟通能力、团队合作能力、执行力及心理承压力；
          </p>

          <p>
            3. 具备一定的项目管理经验，习惯于用严谨科学的统筹方法来保证工作按计划进行；
          </p>

          <p>
            4. 善于学习与思考，对国内外互联网产品与技术发展有敏锐的观察力和求知欲；
          </p>

          <p>
            5. 熟练操作windows office、visio、MinManager、axure等基本产品工具。
          </p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>