@charset 'utf-8';
button, img, input, label {
  border: none
}

.h-d, h1, h2, h3, label, p, span {
  overflow: hidden
}

.bubble-head, .t-c {
  text-align: center
}

.no-wrap {
  white-space: nowrap
}

.clearFix {
  clear: both;
  *zoom: 1
}

.clearFix:after, .clearFix:before {
  display: table;
  clear: both;
  content: " "
}

.control-group>* {
  display: inline-block;
  margin-bottom: 1.5em;
  vertical-align: middle
}

.outter-wrapper {
  position: absolute;
  padding: 0 10%;
  width: 100%;
  height: 100%
}

.outter-wrapper .table-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle
}

.outter-wrapper .table-wrapper .cell-wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle
}

.bubble-head {
  position: relative;
  height: 100%
}

.bubble-head img {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto
}

.bubble-head img+div {
  padding: 1em;
  height: 100%
}

.one-of-five {
  float: left;
  width: 19.998%
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, html, input, li, ol, p, select, span, table, td, textarea, th, tr, ul {
  margin: 0;
  padding: 0
}

.btn-negative, .btn-positive {
  padding: .75em 2em;
  display: inline-block
}

body {
  margin: 0 auto;
  height: 100%;
  font: 12px/2em Microsoft YaHei;
  letter-spacing: .05em;
  word-spacing: .075em;
  background-color: #f4f2f1;
  color: #666
}

h1, h2, h3, h5, label, p, span {
  line-height: 1.5em
}

li, ol, ul {
  list-style: none
}

img {
  vertical-align: top
}

.footer .copyrights>*, .header .header-bottom .logo img {
  vertical-align: middle
}

input:focus, textarea:focus {
  outline-color: #eb5e18
}

a, a:hover {
  text-decoration: none
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 1.667em
}

h3 {
  font-size: 1.333em
}

.normal-sized, h4, h5, label, p, span {
  font-size: 1.167em
}

h1, h2, h3, h5 {
  font-weight: 400
}

h3, h4 {
  font-weight: 700
}

.btn-positive {
  background-color: #008cd7;
  color: #fff
}

.btn-positive.rounded {
  border-radius: 2em
}

.btn-positive.crooked {
  border-radius: .5em
}

.btn-negative {
  background-color: #d3d3d3;
  color: #666
}

.btn-negative.rounded {
  border-radius: 2em
}

.btn-negative.crooked {
  border-radius: .5em
}

.f-l {
  float: left
}

.f-r {
  float: right
}

.p-r {
  position: relative
}

.p-a {
  position: absolute
}

.t-l {
  text-align: left
}

.t-r {
  text-align: right
}

/*.banner, .btn-placeOrder, .error-report .report.body, .footer .copyrights, .footer .foot-con .wm, .footer .foot-con .wm p, .footer>p {
  text-align: center
}*/

.large-sized {
  font-size: 1.333em
}

.red {
  color: red!important
}

.blue {
  color: #008cd7!important
}

.btn-placeOrder, .white {
  color: #fff!important
}

.no-padding {
  padding: 0!important
}

.pt-05 {
  padding-top: .5em
}

.pt-1 {
  padding-top: 1em
}

.pt-3 {
  padding-top: 3em
}

.pt-4 {
  padding-top: 4em
}

.pt-5 {
  padding-top: 5em
}

.pl-05 {
  padding-left: .5em
}

.pl-1 {
  padding-left: 1em!important
}

.pl-2 {
  padding-left: 2em
}

.pb-10 {
  padding-bottom: 10em
}

.no-margin {
  margin: 0!important
}

.mt-1 {
  margin-top: 1em!important
}

.mt-3 {
  margin-top: 3em!important
}

.mt-5 {
  margin-top: 5em!important
}

.ml-1 {
  margin-left: 1em!important
}

.mb-1 {
  margin-bottom: 1em!important
}

.mb-5 {
  margin-bottom: 5em!important
}

.mb-10 {
  margin-bottom: 10em!important
}

[class^=icon-] {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat
}

.banner, .banner>img {
  max-height: 500px;
  width: 100%
}

.icon-shopping-cart {
  background-image: url(../images/icon-shopping-cart.png);
  background-position: 0 1px
}

.btn-placeOrder {
  display: block;
  font-size: 1.667em;
  padding: .75em;
  background-color: #008cd7
}

.banner {
  background-color: #252525;
  background-size: cover;
  background-repeat: no-repeat
}

.banner>img {
  display: inline-block;
  /*max-width: 1920px*/
  width: 100%;
}

.container {
  margin: 0 auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 100em;
  width: 90%
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-xd-1, .col-xd-10, .col-xd-2, .col-xd-3, .col-xd-4, .col-xd-5, .col-xd-6, .col-xd-7, .col-xd-8, .col-xd-9 {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
  position: relative
}

@media screen and (max-width:91.875em) {
  .container {
    margin: auto;
    width: 90%
  }
}

@media screen and (max-width:81.875em) {
  .container {
    margin: 0;
    width: 100%
  }
}

.container:after, .container:before, .row:after, .row:before {
  display: table;
  content: ' '
}

.container:after, .row:after {
  clear: both
}

.row {
  margin-right: -10px;
  margin-left: -10px;
  height: 100%
}

.col-md-12 {
  width: 100%
}

.col-md-11 {
  width: 91.66666667%
}

.col-md-10 {
  width: 83.33333333%
}

.col-md-9 {
  width: 75%
}

.col-md-8 {
  width: 66.66666667%
}

.col-md-7 {
  width: 58.33333333%
}

.col-md-6 {
  width: 50%
}

.col-md-5 {
  width: 41.66666667%
}

.col-md-4 {
  width: 33.33333333%
}

.col-md-3 {
  width: 25%
}

.col-md-2 {
  width: 16.66666667%
}

.col-md-1 {
  width: 8.33333333%
}

.col-xd-10 {
  width: 100%
}

.col-xd-9 {
  width: 90%
}

.col-xd-8 {
  width: 80%
}

.col-xd-7 {
  width: 70%
}

.col-xd-6 {
  width: 60%
}

.col-xd-5 {
  width: 50%
}

.col-xd-4 {
  width: 40%
}

.col-xd-3 {
  width: 30%
}

.col-xd-2 {
  width: 20%
}

.col-xd-1 {
  width: 10%
}

.stripped>:nth-child(even) {
  background-color: #dcdcdc
}

.stripped-odd>:nth-child(odd) {
  background-color: #dcdcdc
}

/*.header {
  overflow-y: visible;
  max-height: 8.75em;
  background-color: #212629;
  color: #fff
}

@media only screen and (min-width:61.9375em) {
  .header .header-top>* {
    float: right;
    margin: 0
  }
  .header .header-bottom .bottom-login, .header .header-top .upper-login {
    display: none
  }
  .header .header-bottom .nav {
    float: left
  }
  .header .header-bottom .nav li {
    z-index: 1023;
    display: block!important;
    float: left
  }
  .header .header-bottom .nav li.mobile-only {
    display: none!important
  }
  .header .header-bottom .bottom-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
}

@media only screen and (max-width:61.875em) {
  .header .header-top>* {
    float: left;
    margin-right: 2em;
    margin-left: 0
  }
  .header .header-bottom .bottom-login, .header .header-top .upper-login {
    display: block
  }
  .header .header-bottom .nav {
    float: right
  }
  .header .header-bottom .nav li {
    display: none;
    float: none;
    background-color: #425252
  }
  .header .header-bottom .nav li.mobile-only {
    display: block
  }
  .header .header-bottom .nav li.active {
    background-color: #008cd7;
    color: #fff
  }
  .header .header-bottom .bottom-login {
    display: none
  }
}

.header a, .header span {
  font-size: 14px
}

.header .header-top {
  padding-top: 1.25em;
  max-height: 4.5em;
  *zoom: 1;
  clear: both
}

.header .header-top:after, .header .header-top:before {
  display: table;
  clear: both;
  content: " "
}

.header .header-top .top-inner>* {
  float: left;
  margin-right: 2em
}

.header .header-top .top-inner .shopping-cart {
  color: #bfc0c0
}

.header .header-top .top-inner .shopping-cart span {
  color: #008cd7
}

.header .header-top .top-inner .shopping-cart:hover {
  color: #eee
}

.header .header-top .top-inner .hot-tellphone span {
  color: #bfc0c0
}

.header .header-bottom .bottom-login, .header .header-top .upper-login {
  float: right;
  margin-right: 0;
  color: #bfc0c0;
  font-size: 12px;
  line-height: 14px
}

.header .header-bottom .bottom-login a, .header .header-top .upper-login a {
  padding: 0 5px;
  color: #bfc0c0
}

.header .header-bottom .bottom-login a:hover, .header .header-top .upper-login a:hover {
  color: #fff
}

.header .header-bottom {
  overflow-y: visible;
  height: 4.25em
}

.header .header-bottom .logo {
  margin-right: 2em;
  height: 100%
}

.header .header-bottom .logo span {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.header .header-bottom .nav {
  overflow-y: visible;
  height: 100%
}

.header .header-bottom .nav li {
  position: relative;
  padding: 0 2em;
  height: 100%
}

.header .header-bottom .nav li.mobile-only {
  background-color: #425252
}

.header .header-bottom .nav li.mobile-only a {
  font-size: 20px;
  line-height: 3em
}

.header .header-bottom .nav li a:hover:after, .header .header-bottom .nav li.active a:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #008cd7;
  content: " "
}

.header .header-bottom .nav li a:hover:after {
  background-color: #71cdff
}

.header .header-bottom .nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 3.6em
}

.header .header-bottom .bottom-login {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: right;
  height: 100%;
  text-align: center
}*/

.mobile-sidebar {
  background-color: #425252
}

.footer {
  padding: 5em 0 3.333em;
  background: url(../images/foot-bg.jpg) right center no-repeat #ebeef2
}

@media only screen and (min-width:61.9375em) {
  .footer .foot-con {
    padding-left: 5em
  }
}

.footer>p {
  color: #666;
  font-size: 12px;
  line-height: 30px
}

.footer .footer-logos img {
  max-width: 100px;
  max-height: 34px;
  width: 100%
}

.footer .foot-con {
  height: 260px
}

.footer .foot-con ul li {
  padding: 6px 0;
  color: #000;
  font-size: 16px;
  line-height: 24px
}

.server-pagination .pages .current, .server-pagination .pages a, .server-pagination .pages strong {
  line-height: 28px;
  font-family: Simsun;
  margin-right: 3px;
  text-decoration: none;
  padding: 0 10px;
  display: inline-block
}

.footer .foot-con ul li a {
  color: #666;
  font-size: 15px
}

.footer .foot-con ul li a:hover {
  color: #000
}

.footer .foot-con .wm img {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 115px;
  max-height: 115px;
  width: 100%
}

.footer .copyrights .licenses>*, .footer .copyrights>* {
  display: inline-block
}

.footer .copyrights .licenses img {
  width: 100%;
  max-width: 108px
}

.server-pagination .pages a, .server-pagination .pages strong {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #666;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out
}

.server-pagination .pages .current {
  vertical-align: top;
  border: 1px solid #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #fff;
  background-color: #24557d
}

.server-pagination .pages a:hover, .server-pagination .pages strong {
  background-color: #24557d;
  border-color: #fff;
  color: #fff
}

.server-pagination .pages a:hover {
  text-decoration: none
}

.server-pagination .pages span {
  padding: 0 10px;
  line-height: 23px
}

.error-report {
  padding: 5em 0
}

.error-report img {
  width: 100%;
  max-width: 85px
}

.error-report .report {
  margin: auto;
  width: 80%;
  padding: 2em
}

.error-report .report.title {
  color: #fff;
  background-color: #008cd7
}

.error-report .report.body {
  background-color: #fff;
  -webkit-box-shadow: 5px 10px .5em #ccc;
  box-shadow: 5px 10px .5em #ccc
}

.error-report .report.body .img {
  display: inline-block
}

.error-report .report.body .text {
  display: block;
  margin-top: 3em
}

.error-report .report.body .text>:first-child {
  margin: 2em 0
}

.error-report .report.body .buttons {
  margin-top: 4em
}

.error-report .report.body .buttons>* {
  font-size: 16px
}

.error-report .report.body .buttons>:nth-child(2) {
  margin-left: 3em
}