<div class="bottom">
      <div class="container">
        <div class="row">
          <div class="l-col-2">
            <ul>
              <li>公司</li>
              <li><a href="">关于我们</a></li>
              <li><a href="">加入YUN88</a></li>
              <li><a href="">联系我们</a></li>
            </ul>
          </div>
          <div class="l-col-2">
            <ul>
              <li>合作</li>
              <li><a href="">已合作厂商</a></li>
              <li><a href="">成为合作伙伴</a></li>
            </ul>
          </div>
          <div class="l-col-2">
            <ul>
              <li>资源</li>
              <li><a href="">云课堂</a></li>
            </ul>
          </div>
          <div class="l-col-2">
            <ul>
              <li>关注</li>
              <li><a href="">新闻中心</a></li>
              <li><a href="">官方微博</a></li>
            </ul>
          </div>
          <div class="l-col-2">
            <ul class="no-border">
              <li>成员</li>
              <li>
                <a href="http://www.yuandingit.com/" target="_blank"><img src="../images/products-details/yd.png" /></a>
              </li>
              <li>
                <a href="http://otpub.yuandingit.com/" target="_blank"><img src="../images/products-details/ot.png" /></a>
              </li>
            </ul>
          </div>
          <div class="l-col-2">
            <ul class="no-border">
              <li><img src="../images/products-details/ewm.png" /></li>
          </div>
        </div>
        <p>版权所有2003-2015北京元鼎时代科技股份有限公司 京ICP-3备06005430号 京公网安备11010802010037</p>
      </div>
    </div>