<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--公用组件-->
  <link href="../../dist/assets.css" rel="stylesheet">
  <script src="../../dist/assets.js"></script>

</head>`

<body>

  <link href="../../dist/fangan/fangan.css" rel="stylesheet">
  <script src="../../dist/fangan/fangan.js"></script>

  <main class="page-wrap fangan anquan devHead">
    <!--header-->

    <!--banner-->
    <div class="banner">
      <img alt="" src="../../images/solution-security/banner-safety.jpg" />
    </div>

    <div class="lay01">
      <div class="container">
        <div class="lay01-inner">
          <div class="row">
            <div class="l-col-3">
              <div class="img-holder">
                <img src="../../images/solution-security/icon1.png" />
              </div>
              <div class="text-holder">
                <h4>一体化安全防护</h4>
                <p class="lay01-text">从网络、主机到数据以及业务安全等一体化安全防护相关产品</p>
              </div>
            </div>
            <div class="l-col-3">
              <div class="img-holder">
                <img src="../../images/solution-security/icon2.png" />
              </div>
              <div class="text-holder">
                <h4>多项行业安全认证</h4>
                <p class="lay01-text">通过了ISO27001认证、可信云认证以及信息安全等保三级认证</p>
              </div>
            </div>
            <div class="l-col-3">
              <div class="img-holder">
                <img src="../../images/solution-security/icon3.png" />
              </div>
              <div class="text-holder">
                <h4>快速灵活安全接入</h4>
                <p class="lay01-text">可根据实际需求，选择相关安全产品，在线快速接入安全防护</p>
              </div>
            </div>
            <div class="l-col-3">
              <div class="img-holder">
                <img src="../../images/solution-security/icon4.png" />
              </div>
              <div class="text-holder">
                <h4>专业技术团队保障</h4>
                <p class="lay01-text">依托腾讯多年QQ、微信安全运营的技术和经验积累，全面保障</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="floor f-1">
      <div class="container">
        <img src="../../images/solution-security/f1.jpg" alt="">
      </div>
    </div>

    <div class="floor f-2">
      <div class="container">
        <img src="../../images/solution-security/f2.jpg" alt="">
      </div>
    </div>
  </main>
</body>

</html>