<!DOCTYPE html>
<html lang="en">

<head> 

  <title>新闻详情</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--公用组件-->
  <link href="../../dist/assets.css" rel="stylesheet">
  <script src="../../dist/assets.js"></script>

</head>

<body>
  <!--页面特有CSS-->
  <link href="../../dist/news/news.css" rel="stylesheet">

  <main class="page-wrap news-details">
    <div class="news-list-headsup">
        <div class="container">
            <span>新闻中心</span>
            <a href="" class="f_r"> >> 返回</a>
        </div>
    </div>
    <div class="news-details-view">
        <div class="container">
            <div class="title">
                <h1>标题标题标题</h1>
                <p class="time">时间</p>
            </div>
            <div class="contain">近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！近日，元鼎科技与山东省淄博市国土资源局就私有云优化项目实施方案的事宜完成洽谈合作。此次合作做为2016年的开年巨献，是对我们过去努力的肯定，更是对我们未来发展的美好展望！</div>
        </div>
    </div>
    <div class="news-item-roller">
        <div class="container">
            <div>
                <a href="">
                    <span>上一篇 : </span><span class="pre">上一篇内容</span></a>
            </div>
            <div>
                <a href="">
                    <span>下一篇 : </span><span class="next">上一篇内容</span></a>
            </div>
        </div>
    </div>
  </main>

</body>

</html>