<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--通用样式-->
  <link href="/dist/compos.css" rel="stylesheet">
  <script src="/dist/headerfooter/headerfooter.js"></script>
</head>

<body>
  <link href="/dist/index/index.css" rel="stylesheet">
  <script src="/dist/index/index.js"></script>
  <script src="/dist/products/products-details.js"></script>


  <div class="page-contents-wrapper">
    <!--header-->
   


    <!--banner-->

    <div class="banner">
      <div>
        <div class="img-holder" style="background-image: url('../images/index/banner.jpg');">
          <img src="" alt="">
        </div>
      </div>
      <div>
        <div class="img-holder" style="background-image: url('../images/index/banner.jpg');">
        </div>
      </div>

    </div>


    <div class="container">
      <div class="row">
        <div class="lay01">
          <div class="l-col-3">
            <div class="lay01-block">
              <div class="img-holder">
                <img src="../images/ysc/ys1.png"/>
              </div>
              <div class="text-holder">
                <p>甄选/Selection</p>
                <p>帮你严选可靠、安全、领先的云产品、应用</p>
              </div>
            </div>           
          </div>
          <div class="l-col-3">
            <div class="lay01-block">
              <div class="img-holder">
                <img src="../images/ysc/ys2.png"/>
              </div>
              <div class="text-holder">
                <p>服务/Service</p>
                <p>提供专业、个性化的线上+线下咨询和服务</p>
              </div>
            </div> 
          </div>
          <div class="l-col-3">
            <div class="lay01-block">
              <div class="img-holder">
                <img src="../images/ysc/ys3.png"/>
              </div>
              <div class="text-holder">
                <p>可靠/Reliable</p>
                <p>依托元鼎专业技术实力加速传统IT架构,IT业务系统和云的融合，迁移</p>
              </div>
            </div> 
          </div>
          <div class="l-col-3">
            <div class="lay01-block">
              <div class="img-holder">
                <img src="../images/ysc/ys4.png"/>
              </div>
              <div class="text-holder">
                <p>效率/Efficiency</p>
                <p>一站式采购综合型管理平台便捷、高效、降低成本</p>
              </div>
            </div> 
          </div>
        </div>
      </div>

    </div>



    <div class="lay02" style="background-image: url(../../images/index/bg1.jpg)">
      <div class="container">
        <div class="lay02-inner">
          <p class="title">在云端继续你的业务</p>
          <p class="exp">不管你处于什么行业，YUN88云已定制多套解决方案，助你轻松跨入“互联网+”时代</p>
          <p class="y-wrap y-wrap1"><span><a href=""><img src="../images/index/tb1.png"/></a></span></p>
          <p class="y-wrap y-wrap2"><span><a href=""><img src="../images/index/tb2.png"/></a></span></p>
          <p class="y-wrap y-wrap3"><span><a href=""><img src="../images/index/tb3.png"/></a></span></p>
          <p class="y-wrap y-wrap4"><span><a href=""><img src="../images/index/tb4.png"/></a></span></p>
          <p class="y-wrap y-wrap4"><span><a href="">了解更多</a></span></p>
          <div class="lay02-btm">
            <ul>
              <li class="active"><a href="">市场云  </a></li>
              <li><a href="">销售云</a></li>
              <li><a href="">服务云</a></li>
              <li><a href="">安全云</a></li>
              <li><a href="">人力资源云</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="lay03">
      <div class="container">
        <div class="lay03-inner">
          <p><span>YUN88为您甄选提供<i>主流云产品及服务</i></span><img src="../images/index/s.png" /><a href="">立即体验</a></p>
        </div>
      </div>
    </div>

    <!--bottom-->
    




  </div>

</body>

</html>