<!DOCTYPE html>
<html lang="en">

<head>

  <title>公有云</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--公用组件-->
  <link href="../../dist/assets.css" rel="stylesheet">
  <script src="../../dist/assets.js"></script>

</head>

<body>
  <!--页面特有CSS-->
  <link href="../../dist/gongyongyun/gongyouyun.css" rel="stylesheet">

  <main class="page-wrap index-list">
    <section class="banner parallax">
      <div class="container">
        <h2>云巴巴整合国内外<b>顶尖厂商的公有云产品</b></h2>
        <h2>供不同业务需求的客户选择和使用</h2>

        <a href="" class="btns btn-details">立即咨询</a>
      </div>
    </section>
    <section class="mid">
      <div class="container">
        <h3>公有云<i>Public cloud</i></h3>

        <div class="list-row">
          <div class="row" autoHi>
            <div class="l-col-3 m-col-5 s-col-12 list-head"><img src="../../images/gongyouyun/logo1-list-white.png" alt=""></div>
            <div class="l-col-7 m-col-7 s-col-12 list-text">
              <p>公司简介:</p>
              <p> Windows Azure是微软的公有云解决方案，是运行在微软数据中心之上的云计算平台。Windows Azure也是微软Cloud OS解决方案与“云优先，移动优先” 战略的核心组成部分。在中国，Windows
                Azure 结合了微软的全球技术和世纪互联的本地运营经验，强强联手，为中国 打造了一个企业级的国际化云计算平台。</p>
            </div>
            <div class="l-col-2 m-col-12 s-col-12 list-act">
              <a href="" class="btns btn-details">立即咨询</a>
              <h4>Windows Azure</h4>
            </div>
          </div>
        </div>

        <div class="list-row">
          <div class="row" autoHi>
            <div class="l-col-3 m-col-5 s-col-12 list-head"><img src="../../images/gongyouyun/logo3-list-white.png" alt=""></div>
            <div class="l-col-7 m-col-7 s-col-12 list-text">
              <p>公司简介:</p>
              <p> Windows Azure是微软的公有云解决方案，是运行在微软数据中心之上的云计算平台。Windows Azure也是微软Cloud OS解决方案与“云优先，移动优先” 战略的核心组成部分。在中国，Windows
                Azure 结合了微软的全球技术和世纪互联的本地运营经验，强强联手，为中国 打造了一个企业级的国际化云计算平台。</p>
            </div>
            <div class="l-col-2 m-col-12 s-col-12 list-act">
              <a href="" class="btns btn-details">立即咨询</a>
              <h4>Windows Azure</h4>
            </div>
          </div>
        </div>

        <div class="list-row">
          <div class="row" autoHi>
            <div class="l-col-3 m-col-5 s-col-12 list-head"><img src="../../images/gongyouyun/logo2-list-white.png" alt=""></div>
            <div class="l-col-7 m-col-7 s-col-12 list-text">
              <p>公司简介:</p>
              <p> Windows Azure是微软的公有云解决方案，是运行在微软数据中心之上的云计算平台。Windows Azure也是微软Cloud OS解决方案与“云优先，移动优先” 战略的核心组成部分。在中国，Windows
                Azure 结合了微软的全球技术和世纪互联的本地运营经验，强强联手，为中国 打造了一个企业级的国际化云计算平台。</p>
            </div>
            <div class="l-col-2 m-col-12 s-col-12 list-act">
              <a href="" class="btns btn-details">立即咨询</a>
              <h4>Windows Azure</h4>
            </div>
          </div>
        </div>

        <div class="list-row">
          <div class="row" autoHi>
            <div class="l-col-3 m-col-5 s-col-12 list-head"><img src="../../images/gongyouyun/logo1-list-white.png" alt=""></div>
            <div class="l-col-7 m-col-7 s-col-12 list-text">
              <p>公司简介:</p>
              <p> Windows Azure是微软的公有云解决方案，是运行在微软数据中心之上的云计算平台。Windows Azure也是微软Cloud OS解决方案与“云优先，移动优先” 战略的核心组成部分。在中国，Windows
                Azure 结合了微软的全球技术和世纪互联的本地运营经验，强强联手，为中国 打造了一个企业级的国际化云计算平台。</p>
            </div>
            <div class="l-col-2 m-col-12 s-col-12 list-act">
              <a href="" class="btns btn-details">立即咨询</a>
              <h4>Windows Azure</h4>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

</body>

</html>