<!DOCTYPE html>
<html lang="en">

<head>

    <title>关于我们</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--公用组件-->
    <link href="../../dist/assets.css" rel="stylesheet">
    <script src="../../dist/assets.js"></script>

</head>

<body>
    <!--页面特有CSS-->
    <link href="../../dist/about-us/about-us.css" rel="stylesheet">

    <main class="page-wrap about-us">
        <section class="banner banner-boutus parallax">
            <div class="container">
                <h1 class="banner-title">关于我们</h1>
                <p class="banner-text">是元鼎科技整合、优选国内外领先云产品及应用倾力打造的首个企业级B2B云业务平台</p>
                <a href="" class="btns btn-details">立即咨询</a>
            </div>
        </section>
        <section class="container">
            <div class="row basic">
                <div class="l-col-4 icon-back icon-1">
                    <h1>我们是谁？</h1><span>我们是一家专注于为客户提供基于云的产品、应用、解决方案、服务等的综合服务商。</span></div>
                <div class="l-col-4 icon-back icon-2">
                    <h1>我们提供什么？</h1><span>       根据您的业务需求，我们可以帮助您规划，采购、交付和管理按需定制、灵活的云计算解决方案及服务。</span></div>
                <div class="l-col-4 icon-back icon-3">
                    <h1>我们如何服务您？</h1><span>              我们优选全球TOP的供应商，提供专业、个性化的线上+线下服务，为您创新业务，节约费用。</span></div>
            </div>
            <!-- 企业简介 -->
            <div class="heads-up"><span>企业简介</span></div>
            <div class="pl-2">
                <p> Yun88是元鼎科技整合、优选国内外领先云产品及应用，倾力打造的首个企业级B2B云业务平台。平台覆盖多种优选后的主流云产品及应用，同时，由专人全程提供咨询规划、技术服务（数据迁移、集成、托管等）、商务等一站式服务。让您可以更专注于业务创新。</p>
                <p>Yun88是AWS、AZURE、UCLOUD、阿里云、Salesforce、Oracle云、OneApm、IMO、office 365、国信灵通等数十家国内外优秀云厂商的重要合作伙伴，拥有业内一流的技术和服务团队。公司通过了ISO9001国际质量体系认证，是国家认定的高新技术企业、计算机软件企业并拥有系统集成叁级资质。</p>
                <p>注：北京元鼎时代科技股份有限公司（前身为北京元鼎时代科技有限公司）成立于2003年，是一家以IT综合服务、专业化解决方案、电子商务和互联网为核心业务的综合型高科技企业。总部位于北京，在河南设立分公司和技术中心，在上海、广州、深圳和大连设有办事处。公司2013年整体改制，设立了股份有限公司，2014年8月21日成功在全国中小企业股份转让系统挂牌，证券简称“元鼎科技”，证券代码“831126”。</p>

            </div>
            <div class="heads-up"><span>技术团队</span></div>
            <div>
                <p> 全国已设立4家技术支持中心（北京、上海、深圳、郑州——研发培训中心），技术团队在数据库、虚拟化等方面约30人的专业技术团队，与云产品契合度高，如数据迁移等。 </p>
                <p>2014年6月设计专注于云产品的技术团队，在郑州设立“云服务研究中心”对各类云产品进行应用方面的分析验证。</p>
                <div class="qoute">
                    <div class="icon-back icon-qoute-pre"></div>
                    <div class="icon-back icon-qoute1"></div>
                    <div class="qouted">
                        <div class=" roundback">
                            北京</div>
                        <div class=" roundback">
                            上海</div>
                        <div class=" roundback">
                            深圳</div>
                        <div class=" roundback">
                            郑州</div>
                    </div>
                    <div class="icon-back icon-qoute2"></div>
                </div>
            </div>
            <div class="heads-up"><span>荣誉资质</span></div>
            <div class='no-margin icon-back icon-4 pt-5 pb-10 '>
                <p> 公司通过了ISO9001国际质量体系认证，是国家认定的高新技术企业、计算机软件企业并拥有系统集成叁级资质。
                </p>
            </div>
            <!-- ./ &&&&&&&&&&&& -->
        </section>
        <section class="contact-us">
            <div class="container">
                <!-- contact info above -->
                <div class="infos">
                    <div class='lefty'>
                        <div class='first-line'>
                            <h1>任何问题，拨打</h1>
                            <h1 class='phone-num'>400-008-9419</h1><br/><br/>
                            <h1>我们全年7*24无休，随时待命，为您提供技术支持。</h1>
                        </div>

                    </div>
                    <div class='righty'>
                        <img src="../../images/about-us/wm.jpg" alt="" />
                        <h2>关注YUN88</h2>
                    </div>
                </div>
                <!-- the map locations -->
                <div class="map">
                    <div class="lefty">
                        <h1>北京总部</h1>
                        <div>
                            <p>电话：400-008-9419</p>
                            <p>总机：010-52550628</p>
                            <p>传真：010-88878521</p>
                            <p>邮编：100086</p>
                            <p>邮箱：service@yun88.com</p>
                            <p>地址：北京市海淀区北三环西路99号院西海国际3号楼7层</p>
                        </div>
                    </div>
                    <div class="righty"><img src="../../images/about-us/mapLocation.png" alt="" /></div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>